html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-size: 18px;
}

.blue {
  color: #322f7b;
}

.space {
  letter-spacing: 2px;
}

.icon-text {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 300ms;
}

.icon:hover .icon-text {
  opacity: 1;
  transform: translateY(0);
}
